<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gettingtoknowandroidgeekbrainsjava">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_geekbrains"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_geekbrains_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".lesson7.NavigationNoteBookActivity"
            android:label="@string/title_activity_navigation_note_book"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".lesson8.ui.NavigationNoteBookActivity2"
            android:label="@string/title_activity_navigation_note_book"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".lesson6.NotesLandScapeActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".lesson6.NoteBookActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lesson1.MainActivity1" />
        <activity android:name=".lesson1.MainActivity2" />
        <activity android:name=".lesson1.MainActivity3" />
        <activity android:name=".lesson2.CalculatorActivity" />
        <activity android:name=".lesson3.CalculatorActivity2" />
        <activity android:name=".lesson4.CalculatorActivity3" />
        <activity android:name=".lesson5.CalculatorActivity4" />
        <activity
            android:name=".lesson5.SettingActivity"
            android:launchMode="singleTop">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Принимаем URI с началом "example://intent” -->
                <data
                    android:host="intent"
                    android:scheme="example" />
                <!-- Принимаем URI с началом "https://intent” -->
            </intent-filter>
        </activity>
    </application>

</manifest>